<div class="main-div mt-4 main-div-style">
    <div>
        <h4 class="text-secondary" id="locn">
            <%= json.location.name%>, <%=json.location.region%>, <%=
            json.location.country%>
        </h4>
        <h5 class="text-secondary" id="local_time">
            <%= new Date().toLocaleTimeString() %>
        </h5>
        <h5 class="text-secondary" id="desc">
            <%= json.current.condition.text %>
        </h5>
    </div>
    <div class="row">
        <div
            class="col-md-6 d-flex justify-content-center align-items-center p-2"
        >
            <img src="<%= json.current.condition.icon %>" alt="weather_img" />
            <h3 id="temp">
                <%= json.current.temp_c %>&deg;C/<%= json.current.temp_f
                %>&deg;F
            </h3>
        </div>
        <div class="col-md-6 text-center p-2 text-secondary">
            <h5 id="humidity">
                Humidity: <%= json.current.humidity %>
            </h5>
            <h5 id="wind">
                Wind: <%= json.current.wind_kph %> kph
            </h5>
            <h5 id="wind_dir">
                Wind direction: <%= json.current.wind_dir %>
            </h5>
        </div>
    </div>
</div>
